<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtf.client"
    android:versionCode="1"
    android:versionName="1.1" >
    <uses-sdk
        android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false" >
        <service 
            android:name="com.dtf.client.InitializeService" 
            android:exported="true">
            <intent-filter>
                <action android:name="com.dtf.action.name.INITIALIZE" />
            </intent-filter>
        </service>
    </application>
</manifest>
